/* styles go here */
.groupOfInputs {
  margin-bottom: 20px;
}

.localInput {
  margin-bottom: 10px;
}

.reccomend {
  margin-top: 10px;
}

.lastLabelInFacts {
  margin-top: 10px;
}

.localInputBig {
  display: block;
  margin-bottom: 10px;
}
